* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: beige !important;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.header-section {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section h1 {
  text-align: center;
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-map {
  width: 100%;
  min-height: 640px;
  height: 80vh;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.start-drawing-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}

.reset-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
}

.container-plans-manager {
  width: 100%;
  margin: 10px auto;
}

.plan-manager {
  max-height: 80vh;
  overflow-y: auto;
}

.new-plan-name {
  display: flex;
  justify-content: center;
}

.new-plan-name input {
  margin-left: 5px;
  padding: 2px 5px;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card {
  margin-bottom: 5px;
}

.actions-new-plan {
  display: flex;
  justify-content: space-around;
}

.actions-plan-item {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .container-map {
    min-height: 400px;
    height: 400px;
  }

  .plan-manager {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}
